

.blank{
    height: 110px;
}

.top-bar{
    border-bottom: silver 1px solid;
    background-color: #f2f3f4;
}

.loginHome{
    background-color: black;
    color: white;
    text-decoration: none;
    padding-top: 4px;
    border-radius: 10px;
}

.loginDivHome a:hover{
    text-decoration: none;
    color: white;
}

.loginHome{

}

/*u{*/
/*    white-space: nowrap;*/
/*}*/

.btn-info{
    background-color: #a3f7df;
    color: black;
    font-size: 18px;
    width: 190px;
    border: #9df0d8 1px solid;
}

.slogan, .logo{
    margin-bottom: auto;
    margin-top: auto;
}

.search{
    background-color: #a3f7df;
    border: black 1px solid;
    border-radius: 0px 25px 0px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.il{
    height: 100%;
    background-color: yellow;
}

.dropdown{
    padding: 15px;
}

.select{
    padding: 15px;
    width: 100%;
}

.dropdown-toggle{
    background-color: #2f6bc2;
    color: white;
    width: 100%;
}


.year{
    text-align: center;
    margin-bottom: 45px;
    margin-top: 20px;
}

.rightdrop{
    padding-right: 20px;
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    /*width: 100%;*/
}

.dropdown-right{
    margin-bottom: 30px;
}

.priceSelect{
    font-size: 14px;
}

.btn-search {
    margin-top: 10px;
    background: #2f6bc2;
    border-radius: 10px;
    color: #fff;
    width: 40%;
}

.unstyle{
    list-style-type: none;
    margin-top: 10px;
}

.car-view a:hover{
    text-decoration: none;
    color: black;
}

.carTitle-home{
    font-size: 16px;
    color: #2f6bc2;
}

.carPrice-home{
    font-size: 20px;
    color: #3c9706 ;
}

.img-crop{
    /*height: 240px;*/
    overflow: hidden;
}

.searchByCat{
    color: silver;
}

#searchByCatLine{
    border: none;
    height: 3px;
    background-color: silver;
}


.carCatIconHome{
    text-align: center;
    font-size: 16px;
}

.carCatTitle-div{
    height: 35px;
}

.carCatTitle-home{
    color: black;
}

.carCatIconHome a:hover{
    text-decoration: none;
    transition: font-size 0.3s;
    font-size: 20px;
}

footer{
    border-top: silver 1px solid;
}


.fafooter {
    color: black;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.fafooter:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

body{
    font-family: Arial,Helvetica,sans-serif;
}
footer{
    font-family: 'Viga', sans-serif;
    background-color: #dbdcdd;
}



.regForm{
    /*background-color: #a3f7df;*/
}

.sell-button {
    white-space: nowrap;
}

.loginHome{
    white-space: nowrap;
}






html,body{
    /*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*height: 100%;*/
    /*font-family: 'Numans', sans-serif;*/
}


.card{
    /*height: 370px;*/
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    /*border: black 1px solid;*/
    /*white-space: nowrap;*/
    /*background-color: rgba(0,0,0,0.5) !important;*/
}


.card-header, .card-footer{
    text-align: start;
    color: black;
    background-color: #a3f7df;
    white-space: nowrap;
}

.card-footer{
    height: 33px;
}


.prepend-login span{
    width: 50px;
    background-color: #a3f7df;
    color: black;
    border:0 !important;
}

.login_btn, .reg_btn{
    color: black;
    background-color: #a3f7df;
    width: 100px;
}

.login_btn:hover, .reg_btn:hover, .carSellSubmitBtn:hover{
    color: #a3f7df;
    background-color: black;
}

.card-container{
    margin-top: 100px;
    width: 350px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    /*margin-left: 15px;*/
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.SignInText{
    margin-right: 180px;
}

.sellCarLeftSideTitle{
    margin-bottom: 1.35rem;
    margin-top: 0.6rem;
}

.img-input{
    padding-bottom: 15px;
}

#sellCarTitle{
    font-weight: 700;
}

#choosePhotos{
    margin-top: 5px;
    margin-bottom: 25px;
}

.sellCarBigText{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

#description{
    /*height: 300px*/
}

.sellCarBody{
    border: silver 1px solid;
    margin-top: 20px;
    border-radius: 20px;
}

.carSellSubmitBtn{
    color: black;
    background-color: #a3f7df;
    font-size: 30px;
    width: 200px;
}

.CarSearchImgDiv{
    height: 200px;
}

.CarSearchImg{
    height: 100%;
}

.searchCarLine{
    border: none;
    height: 2px;
    background-color: silver;
}


.carSearchTitle{
    font-size: 16px;
    color: #2f6bc2;
}

.carSearchPrice{
    font-size: 20px;
    color: #3c9706 ;
}

.carSearchDesc{
    height: 50px;
    width: 60%;
    overflow: hidden;
}


.carPageimgDiv{
    height: 500px;
    overflow: hidden;
}

.carPagePrice{
    color: #3c9706;
    text-align: end;
}

.carPageLine{
    border: none;
    height: 2px;
    background-color: black;
}

.carPageTitle, .carPagePrice{
    margin: -10px;
}

#carPageSellerDiv{
    background-color: #b8efe6;
    width: 110%;
    overflow: hidden;
}

.carPageSellerTitle{
    text-align: center;
    font-size: 19px;
}

#sellerIcon{
    width: 30px;
}

.carSellSellerDivRightSide{
    color: #9b9b9b;
}

.carSellDescription{
    /*height: 100px;*/
    /*width: 100%;*/
    overflow: hidden;
}

.carSellCarInfo{
    background-color: #fcfcfc;
    width: 110%;
}

.carPageInfoLine{
    border: none;
    height: 1px;
    background-color: silver;
}